@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Roboto:wght@400;500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
      font-family: Roboto, system-ui, sans-serif;
    }
    a {
        text-decoration: none !important;
      }
      
  }

  @layer utilities {
    .hidden {
        display: none;
    }
}
