.metaboxes{
	margin: 0;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-spacing: 0;
  background-color: #f9f9f9;
}
.metaboxes td.left, .metaboxes th.left{
	width:38%!important;
}
.metaboxes td.left label{
	padding:5px 15px; 
	display:block;
}
.metaboxes input, .metaboxes select, .metaboxes textarea{
	width: 96%;
  margin: 8px;
}